.container {
    background-image: url('https://images8.alphacoders.com/632/thumb-1920-632051.png');
    background-size: cover;
    background-position: -100px 0;
    border: 2px solid black;
    border-radius: 10px;
    /* height: 100%; */
    margin: 30px auto;
    padding: 30px;
    width: 1100px;
}

select {
    padding: 5px 77px;
    text-transform: uppercase;
}

select:focus {
    outline: none;
}

.title {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.charNames {
    display: flex;
    margin-top: 20px;
}

.charNames div {
    color: white;
    height: 40px;
    width: 50%;
    text-align: center;
    font-size: 30px;
}

.characters {
    display: flex;
}

.character2 {
    transform: scaleX(-1);
}

.characters div {
    border-bottom: 3px black solid;
    height: 450px;
    width: 50%;
}

.jin {
    background-image: url('https://i.imgur.com/HaE1xeV.png');
    background-position: -70px 0px;
    background-size: 150%;
    background-repeat: no-repeat;
}

.paul {
    background-image: url('https://i.imgur.com/N65Qeqn.png');
    background-position: -110px 0px;
    background-size: 120%;
    background-repeat: no-repeat;
}

.king {
    background-image: url('https://i.imgur.com/ee6umcO.png');
    background-position: -80px 0px;
    background-size: 150%;
    background-repeat: no-repeat;
}

.kazuya {
    background-image: url('https://i.imgur.com/bH1z0Xd.png');
    background-position: -70px 0px;
    background-size: 110%;
    background-repeat: no-repeat;
}

.charList ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

.charList ul a {
    background-image: url('https://cdn1.iconfinder.com/data/icons/web-interface-part-2/32/square-question-mark-512.png');
    background-size: cover;
    border: 2px black solid;
    border-radius: 4px;
    cursor: pointer;
    height: 70px;
    margin: 10px 10px 0px 0px;
    width: 70px;
}

.charList ul a:nth-child(1) {
    background-image: url('https://tekken7combo.kagewebsite.com/tpl/img/char/jin.jpg');
    background-size: cover;
}

.charList ul a:nth-child(2) {
    background-image: url('https://store.playstation.com/store/api/chihiro/00_09_000/container/GB/en/999/EP0700-CUSA06014_00-AV00000000000009/1584963561000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000 ');
    background-size: cover;
}

.charList ul a:nth-child(3) {
    background-image: url('https://tekken7combo.kagewebsite.com/tpl/img/char/king.jpg');
    background-size: cover;
}

.charList ul a:nth-child(4) {
    background-image: url('https://qatarfgc.com/tekken-frame-data/icons/kazuya.jpg');
    background-size: cover;
}

.charList ul a:hover {
    border: 2px white solid;
    box-shadow: 0 0 20px 0px white;
}

.selectedRed {
    border: 2px solid red !important;
    box-shadow: 0 0 20px 0px red;
}

.selectedBlue {
    border: 2px solid blue !important;
    box-shadow: 0 0 20px 0px blue;
}

.selectedBoth {
    box-shadow: 0 0 20px 0px white;
    border-left: 2px solid blue !important;
    border-top: 2px solid blue !important;
    border-right: 2px solid red !important;
    border-bottom: 2px solid red !important;
}