<div class="container">
    <div class="title">
        <h1>FIGHT!</h1>
    </div>
    <div class="healthBars">
        <div class="p1">{{char1Name}}</div>
        <select [ngClass]="{'selectedRed':currentPlayer==='player1', 'selectedBlue':currentPlayer==='player2'}"
            [(ngModel)]="currentPlayer" name="player">
            <option value="player1">Player 1</option>
            <option value="player2">Player 2</option>
        </select>
        <div class="p2">{{char2Name}}</div>
    </div>
    <div class="characters">
        <div class="character1" [ngClass]="character1"></div>
        <div class="character2" [ngClass]="character2"></div>
    </div>
</div>